<% provide(:title, '実績投入') %>

<div id="jissekis">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3">実績投入</div>
    <div id="month" class="col-md-3">
      <ul class="pagination">
        <li class="disabled"><a href="#" aria-label="Previous"><div aria-hidden="true" class="aquo">&laquo;</div></a></li>
        <li class="disabled"><a href="#" ><%= @target_month.month %>月</a></li>
        <li class="disabled"><a href="#" aria-label="Previous"><div aria-hidden="true" class="aquo">&raquo;</div></a></li>
      </ul>
    </div><!-- #month -->
    <div class="col-md-3"><% @sum_by_day.each do |sum| %>合計<%= sum[0] %>h<br><% end %></div> <!-- tmp -->
  </div><!-- row -->
  <div class="row">
  <div class="create">
    <% if @sum_by_day.size > 0 %>
      <div id="slider">
        <div id="door">
          <% (1..@target_month.end_of_month.day).each do |d| %>
            <% (0...@sum_by_day.size).each do |p| %>
              <div class="date">
                <div class="day">
                  <%= d %>日
                </div><!-- day -->
                <div class="time">
                  <%= @user_project[p].project.name %>
                  <%= @sum_by_day[p][d] %>h
                </div><!-- time -->
                <div class="time-list">
                  <% (1..14).reverse_each do |t| %>
                    <div class="tlr"><button class="btn btn-info btn-xs" type="button">
                      <%= t+0.5 %>
                    </button></div>
                    <div class="tll"><button class="btn btn-info btn-xs" type="button">
                      <%= t+0.0 %>
                    </button></div>
                  <% end %>
                </div><!-- time-list -->
              </div><!-- date -->
            <% end %>
          <% end %>
        </div><!-- #door -->
      </div><!-- #slider -->
    <% else %>
      プロジェクトが割り当てられていません。
    <% end %>
  </div><!-- create -->
  </div><!-- row -->

</div>
